.navbar {
    display: flex; 
    justify-content:space-between; 
    align-items: center; 
    padding: 16px 32px; 
    background-color: #ffff; 
}

.nav-links {  
    display: flex;
    margin-left: auto; 
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 15px; 
    transition: color 0.3s;
}

.navbar a:hover {
    color: #007bff; 
}

.navbar button {
    background-color: transparent; 
    border: 1px solid #007bff; 
    color: #007bff; 
    padding: 8px 16px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: 500; 
}

.navbar button:hover {
    background-color: #007bff; 
    color: white; 
}
    
.logo {  
    height: 40px;  
    margin-right: 20px;
}  
